body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}
/* .grid div {
  width: 24px;
  height: 24px;
}  */
#tetris {
 border: solid .2em #fff;
 height: 80vh;
}

#tetris-hold {
 border: solid .2em #fff;
 height: 16vh;
}
