<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navHeader.ejs') %>
    <link rel="stylesheet" href="tetris_gif.css"></link>
</head>
<body>
    <%- include('nav.ejs') %>
    <h1>API documentation</h1>
    To get all tetris games:<br>
    /tetris <br>
    To get all marathon games: <br>
    /tetris/marathon


</body>