<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navHeader.ejs') %>
    <link rel="stylesheet" href="tetris_gif.css"></link>
</head>
<body class="text-right text-sm-right text-md-right text-lg-right text-xl-right" style="font-family: Aldrich, sans-serif;">
    <%- include('nav.ejs') %>
    <form style="text-align: center;" action='/play' method="post">
        <input type="text" id="username" placeholder="Your username" name="username">
        <input type="submit" value="Play">
    </form>
    <img id="tetris_gif" src="/tetris.gif">
</body>
<div style="text-align: center;">
    <h3>Controls</h3>
    <ul style="list-style-type: none;">
        <li>Rotate CW: <u><b>Up arrow</b></u></li>
        <li>Rotate CCW: <u><b>Z</b></u></li>
        <li>Move left: <u><b>Left arrow</b></u></li>
        <li>Move right: <u><b>Right arrow</b></u></li>
        <li>Soft drop: <u><b>Down arrow</b></u></li>
        <li>Hard drop: <u><b>Space</b></u></li>
    </ul>
</div>
    
</html>