<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navHeader.ejs') %>
    <title>Tetris Grounds &#8211; Modern Tetris</title>
            <meta
          name="title"
          content="Tetris Grounds &#8211; Modern Tetris"
        />
        <meta
          name="description"
          content="Browser version of modern tetris"
        />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= url %>" />
        <meta
          property="og:title"
          content="Tetris Grounds &#8211; Modern Tetris"
        />
        <meta
          property="og:description"
          content="Browser version of modern tetris"
        />
        <meta property="og:image" content='/logo.png' />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="<%= url %>" />
        <meta
          property="twitter:title"
          content="Tetris Grounds &#8211; Modern Tetris"
        />
        <meta
          property="twitter:description"
          content="Browser version of modern tetris"
        />
        <meta property="twitter:image" content='/logo.png' />
        <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="tetris_gif.css"></link>
</head>
<body class="text-right text-sm-right text-md-right text-lg-right text-xl-right" style="font-family: Aldrich, sans-serif;">
    <%- include('nav.ejs') %>
    <form style="text-align: center;" action='/play' method="post">
        <input type="text" id="username" placeholder="Your username" name="username">
        <input type="submit" value="Play">
    </form>
    <img id="tetris_gif" src="/tetris.gif" alt="https://medium.com/spread-your-content/how-to-make-covid-safety-gifs-and-have-fun-as-a-team-588ec5924f86">
</body>
<div style="text-align: center;">
    <h3>Controls</h3>
    <ul style="list-style-type: none;">
        <li>Rotate CW: <u><b>Up arrow</b></u></li>
        <li>Rotate CCW: <u><b>Z</b></u></li>
        <li>Move left: <u><b>Left arrow</b></u></li>
        <li>Move right: <u><b>Right arrow</b></u></li>
        <li>Soft drop: <u><b>Down arrow</b></u></li>
        <li>Hard drop: <u><b>Space</b></u></li>
    </ul>
</div>
    
</html>