<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navHeader.ejs') %>
    <link rel="stylesheet" href="tetris_gif.css"></link>
</head>
<body class="text-right text-sm-right text-md-right text-lg-right text-xl-right" style="font-family: Aldrich, sans-serif;">
    <%- include('nav.ejs') %>
    <form style="text-align: center;" action='/play' method="post">
        <input type="text" id="username" placeholder="Your username" name="username">
        <input type="submit" value="Play">
    </form>
    <img id="tetris_gif" src="/tetris.gif">
</body>
<div>
    Controls:
    <ul>
        <li>Rotate CW: Up arrow</li>
        <li>Rotate CCW: Z</li>
        <li>Move left: Left arrow</li>
        <li>Move right: Right arrow</li>
        <li>Soft drop: Down arrow</li>
        <li>Hard drop: Space</li>
    </ul>
</div>
    
</html>