<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <title>Tetris</title>
        <link rel="stylesheet" href="marathon_style.css"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body style="font-family: Aldrich, sans-serif;">
        <div id="score"></div>
        <div hidden id="lines"></div>
        <div id="level"></div>
        <div hidden id="lost" >0</div>
        <div>
            <button onClick="window.location.reload();">Restart</button>
        </div>
        <canvas id="tetris" width="240" height="480"></canvas>
        <canvas id="tetris-hold" width="96" height="96"></canvas>
        <script src="marathon_play.js"></script>
        <form id="game-data" action="/submit" method="post">
            <input type="text" id="hidden-score" name="score" style="display:none;"> 
            <input type="text" id="hidden-lines" name="lines" style="display:none;">
            <input type="text" id="hidden-level" name="level" style="display:none;">
            <input type="text" id="hidden-name" name="name" value="<%= name %>" style="display:none;">
            <input id="game-submit" type="submit" value="submit" style="visibility:hidden;">
        </form>
        <div id="message" style="visibility:hidden;">Well done! <%= name %>, you're a tetris champion!</div>
        <script>
            $("body").on('DOMSubtreeModified',"#lost",()=> {
                document.getElementById("game-submit").style.visibility = "visible";
                document.getElementById("message").style.visibility = "visible";
            });
        </script>
    </body>
</html>
