<nav class="navbar navbar-light navbar-expand-md" style="box-shadow: 5px 0px rgb(60,99,139);background: #15cdb7;">
    <div class="container-fluid"><a class="navbar-brand" href="#">Tetris Grounds</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#">Marathon</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sprint</a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
